:root {
  --menu-color: #202020;
  --controllers-color: #3f3f3f;
  --dimmed-text-color: #bbb;
}

.menu {
  position: absolute;
  background: var(--menu-color);
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
  opacity: 98%;
  height: 92vh;
  width: 178px;
  margin-top: 4vh;
  margin-left: 2vw;
  padding: 0 0.8rem;
  border-radius: 10px;
  z-index: 10;
}

.menu > p {
  font-size: 18px;
  text-transform: uppercase;
}


.helpers {
  display: flex;
  flex-direction: column;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: -0.4rem 0;
}

.objects {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.objects-dropdown {
  background: var(--controllers-color);
  color: #fff;
  width: 7rem;
  border: none;
  cursor: pointer;
  user-select: none;
}

.dimensions {
  margin-top: -0.4rem;
}

.dimensions > p {
  margin-bottom: 8px;
}

.dimension-inputs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: #fff;
}

.dim-input {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 15px;
}

.dim-input:last-child {
  padding-left: 1px;
}

.dim-input > label {
  font-size: 12px;
  color: #fff;
  margin-right: 5px;
}

.dim-input > input {
  overflow: hidden;
  background: var(--controllers-color);
  border: none;
  width: 100%;
  color: #fff;
}

.modes {
  display: flex;
  position: absolute;
  background: var(--menu-color);
  color: var(--dimmed-text-color);
  opacity: 98%;
  width: 302.5px;
  bottom: 4vh;
  font-size: 14px;
  margin-left: calc(50vw - (302.5px / 2));
  border-radius: 20px;
  overflow: hidden;
  z-index: 10;
}

.modes p {
  display: flex;
  justify-content: center;
  padding: 0.7rem 0;
  width: calc(300px / 4);
  margin: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  user-select: none;
}

.modes p:nth-child(4) {
  border-right: none;
}

.selected-mode {
  background: rgba(255, 255, 255, 0.25);
  color:#fff;
}

.modes p:hover {
  color:#fff;
}

.info {
  display: flex;
  gap: 6px;
  align-items: center;
  position: absolute;
  height: 30px;
  bottom: 4vh;
  right: 2vw;
  font-size: 16px;
  overflow: hidden;
  z-index: 10;
  cursor: pointer;
  padding: 0 0.3rem;
  overflow: hidden;
}

.info div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background: var(--menu-color);
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.info p {
  background: transparent;
  font-weight: 600;
  color: var(--menu-color);
}

.info-window {
  position: absolute;
  background: #625a82;
  opacity: 98%;
  color: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 328px;
  height: 480px;
  border-radius: 10px;
  z-index: 20;
}