:root {
  --menu-color: #202020;
  --menu-color-2: #303030;
  --menu-color-3: #303030;
  --controllers-color: #4a4a4a;
  --button-color: #a0a0a0;
  --button-hover-color: #b0b0b0;
  --button-press-color: #909090;
  --controllers-color2: #333;
  --list-color: #2c2c2c;
  --list-color2: #252525;
  --dimmed-text-color: #bbb;
  --bright-text-color: #fff;
}

/* SCROLL BARS */
::-webkit-scrollbar {
  width: 9px;
  background: #ccc;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.stats-data {
  bottom: 0;
  top: auto !important;
}

body {
  overflow: hidden;
  user-select: none;
}

.menu-bar {
  display: flex;
  align-items: center;
  position: fixed;
  background: var(--menu-color);
  color: var(--bright-text-color);
  width: 100%;
  height: 25px;
  z-index: 50;
}

.file-option {
  position: relative;
  width: fit-content;
  background: var(--menu-color);
  padding: 0 0.5rem;
  cursor: pointer;
  z-index: 30;
}

.file-dropdown {
  display: none;
  width: fit-content;
  position: absolute;
  background: var(--menu-color-2);
  box-shadow: 0px 1px 20px 10px var(--menu-color);
  z-index: 2;
}

.file-dropdown hr {
  width: 100%;
  border: 1px solid var(--list-color);
  margin: 0;
}

.file-dropdown input {
  width: 100%;
  text-align: left;
  background: var(--menu-color-2);
  color: var(--bright-text-color);
  padding: 0.5rem 0.5rem;
  border: none;
  cursor: pointer;
}

.file-dropdown input:hover {
  background: var(--menu-color);
}

.file-option:hover ~ .file-dropdown {
  display: block;
}

.file-dropdown:hover {
  display: block;
}

.predefined-models {
  display: flex;
  gap: 5px;
  margin-top: 15px;
}

.predefined-container {
  display: grid;
  align-content: space-between;
  background: var(--menu-color);
  border-radius: 10px;
  padding: 10px;
  width: 56px;
  height: 94px;
  cursor: pointer;
}

.predefined-container > img {
  border-radius: 1000px;
  margin-bottom: 8px;
  width: 56px;
}

.predefined-container > p {
  text-align: center;
  padding: 0;
  margin: 0;
}

.menu {
  position: absolute;
  background: var(--menu-color);
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
  opacity: 98%;
  height: 92vh;
  width: 178px;
  top: 4vh;
  left: 2vw;
  padding: 0 0.8rem;
  border-radius: 10px;
  overflow-y: auto;
  z-index: 10;
}

.menu > p {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
}

.container-add-obj {
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1px;
  padding-bottom: 0.8rem;
  margin-top: 0.5rem;
  background: var(--controllers-color2);
  border-radius: 10px;
}

.add-object-study {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: var(--controllers-color2);
}

.add-object-study input {
  width: 80%;
  height: 20px;
  background: var(--button-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #000;
  font-weight: 600;
}

.add-object-study button:hover {
  background: var(--button-hover-color);
}

.add-object-study button:active {
  background: var(--button-press-color);
}

.scene-outline {
  position: absolute;
  background: var(--menu-color);
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
  opacity: 98%;
  min-height: 20vh;
  max-height: 80vh;
  height: auto;
  width: 178px;
  top: 4vh;
  right: 2vw;
  padding: 0 0.8rem 1rem;
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 10;
  user-select: none;
}

.scene-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.scene-header > button {
  height: fit-content;
}

.scene-header > p {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
}

.scene-objects {
  margin: 0;
  padding: 0;
}

.scene-objects div {
  margin: 0;
  padding: 3px 4px;
}

.scene-menu-obj {
  display: flex;
  gap: 2px;
  padding-left: 6px;
}

.scene-objects div.selected {
  background: #68c6ef91 !important;
}

.scene-objects > div:nth-child(odd) {
  background: var(--list-color);
}
.scene-objects > div:nth-child(even) {
  background: var(--list-color2);
}

.container {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 1rem;
  padding-top: 1px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background: var(--controllers-color2);
  border-radius: 10px;
}

.container .header {
  display: flex;
}

.container .suggested-colors {
  display: flex;
  margin-top: 1rem;
}

.container .suggested-colors input {
  display: none;
}

.container .suggested-colors label {
  margin-right: 3px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.suggested-colors .color1 {
  background: #5544aa;
}

.suggested-colors .color2 {
  background: #44aa4b;
}

.suggested-colors .color3 {
  background: #aa4444;
}

.suggested-colors .color4 {
  background: #a0aa44;
}

.suggested-colors .color5 {
  background: #4494aa;
}

.suggested-colors .color6 {
  background: #aa7a44;
}

.suggested-colors .color7 {
  background: #aa44a3;
}

.helpers {
  display: flex;
  flex-direction: column;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: -0.4rem 0;
}

.objects {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
}

.objects-dropdown {
  background: var(--controllers-color);
  color: #fff;
  width: 7rem;
  border: none;
  cursor: pointer;
  user-select: none;
}

.container-p {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 0.8rem;
  margin-bottom: -0.2rem;
}

.color-parameter .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.color-parameter input {
  padding: 0;
  margin-top: 8px;
  margin-bottom: -8px;
  border: none;
  background: none;
  cursor: pointer;
}

.eye-dim {
  margin-bottom: 1.5rem;
}

.dimensions > p {
  margin-bottom: 8px;
}

.dimension-inputs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: #fff;
}

.dim-input {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 15px;
}

.dim-input:last-child {
  padding-left: 1px;
}

.dim-input > label {
  font-size: 12px;
  color: #fff;
  margin-right: 5px;
}

.dim-input > input {
  overflow: hidden;
  background: var(--controllers-color);
  border: none;
  width: 100%;
  color: #fff;
}

.modes {
  display: flex;
  position: absolute;
  background: var(--menu-color);
  color: var(--dimmed-text-color);
  opacity: 98%;
  width: 302.5px;
  bottom: 4vh;
  font-size: 14px;
  margin-left: calc(50vw - (302.5px / 2));
  border-radius: 20px;
  overflow: hidden;
  z-index: 10;
}

.modes p {
  display: flex;
  justify-content: center;
  padding: 0.7rem 0;
  width: calc(300px / 4);
  margin: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  user-select: none;
}

.modes p:nth-child(4) {
  border-right: none;
}

.selected-mode {
  background: rgba(255, 255, 255, 0.25);
  color: #fff;
}

.modes p:hover {
  color: #fff;
}

.info {
  display: flex;
  gap: 6px;
  align-items: center;
  position: absolute;
  height: 30px;
  bottom: 4vh;
  right: 2vw;
  font-size: 16px;
  overflow: hidden;
  z-index: 10;
  cursor: pointer;
  padding: 0 0.3rem;
  overflow: hidden;
  user-select: none;
}

.info:hover {
  opacity: 0.7;
}

.info div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background: var(--menu-color);
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.info p {
  background: transparent;
  font-weight: 600;
  color: var(--menu-color);
}

.info-window {
  position: absolute;
  background: var(--menu-color-2);
  opacity: 98%;
  color: #fff;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: scale(1);
  width: 30vw;
  height: 70vh;
  padding: 0 25px;
  border-radius: 10px;
  z-index: 20;
  overflow-y: auto;
  overflow-x: hidden;
  transition: opacity 0.1s, transform 0.2s, visibility 0.1s;
}

.info-window.invisible {
  opacity: 0;
  transform: scale(0.9);
  visibility: hidden;
  transition: opacity 0.1s, transform 0.2s, visibility 0.1s;
}

.info-header {
  display: flex;
  position: sticky;
  top: 0px;
  border-bottom: 1px solid #505050;
  padding: 0 0 10px 0;
  margin-left: -10px;
  width: calc(100% + 20px);
  background: var(--menu-color-3);
  align-items: center;
  justify-content: space-between;
}

.info-title-div {
  margin: auto;
  padding-left: 22px;
}

.info-close {
  font-size: 28px;
  margin: 0;
  margin-top: 10px;
  color: #aaa;
  user-select: none;
  cursor: pointer;
}

.info-close:hover {
  color: #fff;
}

.info-title {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  margin-bottom: 0.7rem;
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  text-transform: capitalize;
}

.info-window hr {
  border: 1px solid #444;
}

.info-q {
  margin-right: auto;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: -0.2rem;
}

.info-ans {
  font-size: 13px;
  margin-bottom: 2rem;
  padding-left: 2rem;
  color: #ccc;
  font-style: italic;
}

.info-ans > p {
  margin-bottom: -0.4rem;
}

.info-ans > h2 {
  line-height: 0rem;
  margin-top: 2.2rem;
  margin-left: -1rem;
}

.info-ans span {
  font-size: 13px;
  margin-bottom: 2rem;
  color: #fff;
  font-weight: 600;
  /* text-transform: uppercase; */
  font-style: normal;
}

.transform-btns {
  display: flex;
  justify-content: center;
  gap: 3px;
  margin-top: 1rem;
}

.expand-shrink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10px;
}

.btn-1 {
  font-size: 12px;
  background: var(--controllers-color);
  border: none;
  color: #fff;
  padding: 4px 5px;
  cursor: pointer;
  transition: all 0.05s;
}

.btn-1:hover {
  background: #5a5a5a;
}

/* Responsive design */
@media screen and (min-width: 2000px) {
  .info-window {
    width: 25vw;
    height: 60vh;
  }

  .info-title {
    font-size: 36px;
  }

  .info-q {
    font-size: 24px;
  }

  .info-ans {
    font-size: 16px;
    margin-bottom: 2rem;
    font-style: italic;
  }
}

@media screen and (max-width: 812px) {
  .menu {
    height: 84vh;
  }
}
